
<aside class="sidebar">
    <div class="sidebar-logo">
        <span class="logo-icon"></span>
        <span class="logo-text">DooClick</span>
    </div>

    <nav class="sidebar-nav">
        <p class="nav-label">Main</p>
        <ul>
            <li class="nav-item active">
                <span class="nav-icon"></span>
                <span>Screens</span>
            </li>
            <li class="nav-item">
                <span class="nav-icon"></span>
                <span>Ad</span>
            </li>
            <li class="nav-item">
                <span class="nav-icon"></span>
                <span>Campaign</span>
            </li>
        </ul>
    </nav>

    <div class="sidebar-footer">
        <div class="user-avatar">KU</div>
        <div class="user-info">
            <span>Kenju Rai</span>
            <span>Junior Developer</span>
        </div>
    </div>
</aside>

<main >
    <router-outlet />
</main>