<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card">
  <div class="flex align-items-center justify-content-between p-3">
    <span class="text-xl font-semibold">Screens</span>
    <p-button label="Add Screen" icon="pi pi-plus" (onClick)="openForm()">
    </p-button>
  </div>

  <!-- Table -->
  <p-table
    [value]="screens"
    [columns]="columns"
    [loading]="isLoading"
    [paginator]="true"
    [rows]="rows"
    [(first)]="first"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, 50]"
    pagnia
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} screens"
    [globalFilterFields]="['screenName', 'country', 'city', 'placement']"
    #screenTable
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-end">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
          <input
            pInputText
            type="text"
            placeholder="Search screens..."
            (input)="
              screenTable.filterGlobal($any($event.target).value, 'contains')
            "
          />
        </p-iconField>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.name">
          {{ col.columnName }}
          <p-sortIcon [field]="col.name"></p-sortIcon>
        </th>
        <th style="width: 8rem" class="text-center">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-screen let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.name === 'status'; else defaultCell">
            <p-tag
              [value]="screen.status === 1 ? 'Active' : 'Inactive'"
              [severity]="screen.status === 1 ? 'success' : 'danger'"
            >
            </p-tag>
          </ng-container>

          <ng-template #defaultCell>
            {{ screen[col.name] }}
          </ng-template>
        </td>

        <td class="text-center">
          <div class="flex justify-content-center gap-1">
            <p-button
              icon="pi pi-eye"
              severity="info"
              [text]="true"
              [rounded]="true"
              pTooltip="View"
              tooltipPosition="top"
              (onClick)="openDetailView(screen)"
            >
            </p-button>

            <p-button
              icon="pi pi-pencil"
              severity="warning"
              [text]="true"
              [rounded]="true"
              pTooltip="Edit"
              tooltipPosition="top"
              (onClick)="openForm(screen)"
            >
            </p-button>

            <p-button
              icon="pi pi-trash"
              severity="danger"
              [text]="true"
              [rounded]="true"
              pTooltip="Delete"
              tooltipPosition="top"
              (onClick)="onDelete(screen)"
            >
            </p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<screen-detail #screenDetail [screen]="selectedScreen" (afterClose)="afterViewDetailClose()" />

<screen-add-edit
  #screenAddEdit
  [screen]="selectedScreen"
  (afterFormClosed)="afterFormClosed($event)"
/>
