<p-dialog
  [(visible)]="isOpen"
  [header]="dialogHeader"
  [modal]="true"
  [draggable]="true"
  [resizable]="false"
  styleClass="w-35rem h-35rem"
  (onHide)="_afterClosed('close')"
>
  <ng-template pTemplate="content">
    <form [formGroup]="formGroup" class="flex flex-column gap-3">
      <div class="flex flex-column gap-1">
        <label class="font-medium">Screen Name</label>
        <input
          pInputText
          formControlName="screenName"
          placeholder="Enter screen name"
        />
      </div>

      <div class="flex gap-1">
        <div class="flex flex-column gap-1 flex-1">
          <label class="font-medium">Specification</label>
          <input
            pInputText
            formControlName="specification"
            placeholder="Enter specification"
          />
        </div>
        <div class="flex flex-column gap-1 flex-1">
          <label class="font-medium">Placement</label>
          <input
            pInputText
            formControlName="placement"
            placeholder="Placement"
          />
        </div>
      </div>

      <div class="flex gap-3">
        <div class="flex flex-column gap-1 flex-1">
          <label class="font-medium">Country</label>
          <input pInputText formControlName="country" placeholder="Country" />
        </div>
        <div class="flex flex-column gap-1 flex-1">
          <label class="font-medium">City</label>
          <input pInputText formControlName="city" placeholder="City" />
        </div>
      </div>

      <div class="flex gap-3">
        <div class="flex flex-column gap-1">
          <label class="font-medium">Placement Type</label>
          <p-dropdown
            [options]="placementTypeOptions"
            optionLabel="label"
            optionValue="value"
            formControlName="placementType"
            placeholder="Placement type"
          />
        </div>

        <div class="flex flex-column gap-1">
          <label class="font-medium">status</label>
          <p-dropdown
            [options]="statusTypeOtpions"
            optionLabel="label"
            optionValue="value"
            formControlName="status"
            placeholder="Placement type"
          />
        </div>

        <div class="flex flex-column gap-1">
          <label class="font-medium">Screen</label>
          <p-dropdown
            [options]="screenTypeOptions"
            optionLabel="label"
            optionValue="value"
            formControlName="type"
            placeholder="Screen type"
          />
        </div>
      </div>

      <div class="flex gap-3">
        <div class="flex flex-column gap-1 flex-1">
          <label class="font-medium">Avg. Viewers</label>
          <p-inputNumber formControlName="avgViewer"> </p-inputNumber>
        </div>
        <div class="flex flex-column gap-1 flex-1">
          <label class="font-medium">Base Price</label>
          <p-inputNumber
            formControlName="basePrice"
            mode="currency"
            currency="USD"
          >
          </p-inputNumber>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      severity="secondary"
      (onClick)="_afterClosed('close')"
    >
    </p-button>
    <p-button [label]="btnLabel" (onClick)="_afterClosed(btnLabel)"> </p-button>
  </ng-template>
</p-dialog>
