<p-dialog
  [(visible)]="isVisible"
  [header]="dialogHeader"
  [modal]="true"
  [draggable]="true"
  [resizable]="false"
  styleClass="w-35rem h-35rem"
  (onHide)="onClose()"
>
  <ng-template pTemplate="content">
    <div class="flex flex-column gap-3">
      <div class="flex flex-column gap-1">
        <label class="font-medium">Screen Name</label>
        <input
          pInputText
          [(ngModel)]="screenData!.screenName"
          [disabled]="isViewMode"
          placeholder="Enter screen name"
        />
      </div>

      <div class="flex flex-column gap-1">
        <label class="font-medium">Specification</label>
        <input
          pInputText
          [(ngModel)]="screenData!.specification"
          [disabled]="isViewMode"
          placeholder="Enter specification"
        />
      </div>

      <div class="flex gap-3">
        <div class="flex flex-column gap-1 flex-1">
          <label class="font-medium">Country</label>
          <input
            pInputText
            [(ngModel)]="screenData!.country"
            [disabled]="isViewMode"
            placeholder="Country"
          />
        </div>
        <div class="flex flex-column gap-1 flex-1">
          <label class="font-medium">City</label>
          <input
            pInputText
            [(ngModel)]="screenData!.city"
            [disabled]="isViewMode"
            placeholder="City"
          />
        </div>
      </div>

      <div class="flex gap-3">
        <div class="flex flex-column gap-1">
          <label class="font-medium">Placement</label>
          <p-dropdown
            [options]="placementTypeOptions"
            optionLabel="label"
            optionValue="value"
            [disabled]="isViewMode"
            [(ngModel)]="screenData!.placementType"
            placeholder="Placement type"
          />
        </div>

        <div class="flex flex-column gap-1">
          <label class="font-medium">status</label>
          <p-dropdown
            [options]="statusTypeOtpions"
            optionLabel="label"
            optionValue="value"
            [disabled]="isViewMode"
            [(ngModel)]="screenData!.status"
            placeholder="Placement type"
          />
        </div>

        <div class="flex flex-column gap-1">
          <label class="font-medium">Screen</label>
          <p-dropdown
            [options]="screenTypeOptions"
            optionLabel="label"
            optionValue="value"
            [disabled]="isViewMode"
            [(ngModel)]="screenData!.type"
            placeholder="Screen type"
          />
        </div>
      </div>

      <div class="flex gap-3">
        <div class="flex flex-column gap-1 flex-1">
          <label class="font-medium">Avg. Viewers</label>
          <p-inputNumber
            [(ngModel)]="screenData!.avgViewer"
            [disabled]="isViewMode"
          >
          </p-inputNumber>
        </div>
        <div class="flex flex-column gap-1 flex-1">
          <label class="font-medium">Base Price</label>
          <p-inputNumber
            [(ngModel)]="screenData!.basePrice"
            mode="currency"
            currency="USD"
            [disabled]="isViewMode"
          >
          </p-inputNumber>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button label="Close" severity="secondary" (onClick)="onClose()">
    </p-button>
    <p-button *ngIf="!isViewMode" label="Save" (onClick)="onSubmit()">
    </p-button>
  </ng-template>
</p-dialog>
