<div class="card">
  <p-menubar>
    <ng-template pTemplate="start">
      <div class="flex align-items-center gap-4">
        <div class="ml-3">
            <p-button icon="pi pi-bars" (onClick)="toogleSideBar()"></p-button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-3 mr-3">
        <p-avatar
          image="https://i.pinimg.com/474x/bc/69/93/bc69933028de5d19088fe00d5e9aa936.jpg"
          shape="circle"
          size="large"
        />
      </div>
    </ng-template>
  </p-menubar>
</div>
