
/*

=====================================================================
- Description: Retrieve Id and PlayerCode  for 
				dropdown 
- Author: Gyanju Rai
- Created: 2026-03-11
=====================================================================

EXEC [util].[SpPlayerDropdownSel];

*/

ALTER   PROCEDURE [util].[SpPlayerDropdownSel]
AS
BEGIN
	SET NOCOUNT ON;

	CREATE TABLE #Result
	(
		Id INT NOT NULL,
		[Name] NVARCHAR(MAX) NOT NULL
	);

	INSERT INTO #Result
	(
		Id,
		[Name]
	)
	SELECT	p.id,
			p.PlayerCode
	FROM inv.Player AS p;
	

	SELECT ISNULL(
					JSON_QUERY((SELECT * FROM #Result FOR JSON PATH, INCLUDE_NULL_VALUES)), 
					'[]');

	DROP TABLE IF EXISTS #Result;
END;