
/*

=====================================================================
- Description: Retrieve screens using filter (	status, 
												placement type,
												screen type,
												price range
											 )	
- Author: Gyanju Rai
- Created: 2026-03-03
=====================================================================

---------------------------------------------------------------------
- Modified 
- At: 2026-03
- By: Gyanju Rai
- Description: 1. Converted JSON keys to PascalCase  
			   2. Implemented Pagination
			   3. Integrated with [security] session validation
---------------------------------------------------------------------

DECLARE @Json NVARCHAR(MAX) = N'
								{
									"Filter": {
										"StatusIdList" : [1, 2],
										"PlacementTypeIdList": [1, 2],
										"TypeIdList": [1, 2],
										"PriceRange": {
														"min": 0.00,
														"max": 10000.00
													} 
									},
									"Offset": 0,
									"PageSize": 10,
									"SortBy": "screenName",
									"SortOrder": "ASC"
								}';

EXEC [util].[SpSetUserContext] @Json = N'{"UserId": 10}';
EXEC [Inv].[SpScreenSel] @Json = @Json;

*/

ALTER PROCEDURE [inv].[SpScreenSel]
(
	@Json NVARCHAR(MAX)
)
AS
BEGIN

		SET NOCOUNT ON;

		DECLARE @UserId INT = util.SfGetUserId();
		
		--IF (@UserId = 0)
		--BEGIN

		--	RAISERROR('Security Error: No active user session found.', 16, 1);
		
		--END
		--ELSE
		--BEGIN

			DECLARE @StatusIdList NVARCHAR(MAX) = ISNULL(JSON_QUERY(@Json, '$.Filter.StatusIdList'), '[]'),
					@PlacementTypeIdList NVARCHAR(MAX) = ISNULL(JSON_QUERY(@Json, '$.Filter.PlacementTypeIdList'), '[]'),
					@TypeIdList NVARCHAR(MAX) = ISNULL(JSON_QUERY(@Json, '$.Filter.TypeIdList'), '[]'),
					@MinPrice DECIMAL(10,2) = ISNULL(JSON_VALUE(@Json, '$.Filter.PriceRange.min'), 0.00),
					@MaxPrice DECIMAL(10,2) = ISNULL(JSON_VALUE(@Json, '$.Filter.PriceRange.max'), 9999999.99),
					@OffSet INT = ISNULL(JSON_VALUE(@Json, '$.Offset'), 0),
					@PageSize INT = ISNULL(JSON_VALUE(@Json, '$.PageSize'), 10),
					@SortBy NVARCHAR(20) = ISNULL(JSON_VALUE(@Json, '$.SortBy'), 'screenName'),
					@SortOrder NCHAR(4) = ISNULL(JSON_VALUE(@Json, '$.SortOrder'), 'ASC'),
					@TotalCount INT = 0,
					@Query NVARCHAR(MAX);
		
			CREATE TABLE #Screen 
			(
				id INT NULL,
				tenantId INT NULL,
				screenName NVARCHAR(20) NOT NULL,
				specification NVARCHAR(500) NOT NULL,
				country NVARCHAR(15) NOT NULL,
				city NVARCHAR(15) NOT NULL,
				placementType INT NOT NULL,
				placement NVARCHAR(25) NOT NULL,
				avgViewer INT NOT NULL,
				basePrice DECIMAL(10,2) NOT NULL,
				[status] INT NOT NULL ,
				[type] INT NOT NULL,
				createdBy INT NOT NULL,
				createdAt DATETIME NOT NULL,
				updatedBy INT NULL,
				updatedAt DATETIME NULL
			);

			INSERT INTO #Screen
			(
				id,
				tenantId, 
				screenName, 
				specification, 
				country, 
				city, 
				placementType, 
				placement, 
				avgViewer, 
				basePrice, 
				[status], 
				[type], 
				createdBy,
				createdAt,
				updatedBy,
				updatedAt
			)
			SELECT	s.id,
					s.tenantId, 
					s.screenName, 
					s.specification, 
					s.country, 
					s.city, 
					s.placementType, 
					s.placement, 
					s.avgViewer, 
					s.basePrice, 
					s.[status], 
					s.[type], 
					s.createdBy,
					s.createdAt,
					s.updatedBy,
					s.updatedAt
			FROM inv.Screen AS s
			WHERE (
				@StatusIdList = '[]'
				OR s.[status] IN (
						SELECT value
						FROM OPENJSON(@StatusIdList)
				) 
			)
			AND
			(
				@PlacementTypeIdList = '[]'
				OR s.placementType IN (
						SELECT value
						FROM OPENJSON(@PlacementTypeIdList)
				)
			)
			AND
			(
				@TypeIdList = '[]'
				OR s.[type] IN (
						SELECT value
						FROM OPENJSON(@TypeIdList)
				)
			)
			AND
			(
				s.basePrice > @MinPrice
				AND basePrice <= @MaxPrice
			);

			SELECT @TotalCount = COUNT(1) 
			FROM #Screen;

			SET @Query = N'SELECT ISNULL((SELECT	s.id,
													s.tenantId, 
													s.screenName, 
													s.specification, 
													s.country, 
													s.city, 
													s.placementType, 
													s.placement, 
													s.avgViewer, 
													s.basePrice, 
													s.[status], 
													s.[type], 
													s.createdBy,
													s.createdAt,
													s.updatedBy,
													s.updatedAt
											FROM #Screen AS s' 
											+ N' ORDER BY [' + @SortBy + N'] ' + @SortOrder
											+ N' OFFSET ' + CAST(@OffSet AS VARCHAR(100)) + N' ROWS'
											+ N' FETCH NEXT ' + CAST(@PageSize AS VARCHAR(100)) + N' ROWS ONLY'
											+ N' FOR JSON PATH, INCLUDE_NULL_VALUES), ''[]'')';

			CREATE TABLE #Result
			(
				[Data] NVARCHAR(MAX) NOT NULL
			)

			INSERT INTO #Result ( [Data] )
			EXEC ( @Query ) ;

			SELECT ISNULL (
			(
							SELECT 
								JSON_QUERY([Data]) AS [Data],
								@TotalCount AS [TotalCount]
								FROM #Result
							FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
						), '{}');

			DROP TABLE IF EXISTS #Screen;
			DROP TABLE IF EXISTS #Result;
		--END;
END;