
/*

=====================================================================
- Description: Bulk Insert and update Screen
- Author: Gyanju Rai
- Created: 2026-03-03
=====================================================================

DECLARE @Json NVARCHAR(MAX) = N'
								[
									{
										"Id": 0,
										"TenantId": 5,
										"ScreenName": "BKT-01",
										"Specification": "Outdoor LED P4, FHD, 6000 nits, 8x14 ft",
										"Country": "Nepal",
										"City": "Bhaktapur",
										"PlacementType": 1,
										"Placement": "Bhaktapur Gym",
										"AvgViewer": 500,
										"BasePrice": 1200.00,
										"Status": 1,
										"Type": 2,
										"UserId": 6
									},
									{
										"Id": 52,
										"TenantId": 2,
										"ScreenName": "Upd-02",
										"Specification": "Outdoor LED P4, FHD, 6000 nits, 8x14 ft",
										"Country": "Bangladesh",
										"City": "Dhaka",
										"PlacementType": 1,
										"Placement": "Dhaka fitness Center",
										"AvgViewer": 200,
										"BasePrice": 1000.00,
										"Status": 1,
										"Type": 2,
										"UserId": 6
									}
								]
';

EXEC [inv].[SpScreenTsk] @Json = @Json OUTPUT;

SELECT @Json;

*/


ALTER   PROCEDURE [inv].[SpScreenTsk]
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN

	SET NOCOUNT ON;
	
	BEGIN TRY
		BEGIN TRANSACTION;


		CREATE TABLE #Inserted
		(
			Id INT
		);
	
		CREATE TABLE #Screen 
		(
			Id INT NULL,
			TenantId INT NULL,
			ScreenName NVARCHAR(20) NOT NULL,
			Specification NVARCHAR(500) NOT NULL,
			Country NVARCHAR(15) NOT NULL,
			City NVARCHAR(15) NOT NULL,
			PlacementType INT NOT NULL,
			Placement NVARCHAR(25) NOT NULL,
			AvgViewer INT NOT NULL,
			BasePrice DECIMAL(10,2) NOT NULL,
			[Status] INT NOT NULL ,
			[Type] INT NOT NULL,
			UserId INT NOT NULL
		);

		INSERT INTO #Screen
		(
			Id,
			TenantId,
			ScreenName, 
			Specification, 
			Country, 
			City, 
			PlacementType, 
			Placement, 
			AvgViewer, 
			BasePrice, 
			[Status], 
			[Type], 
			UserId
		)
		SELECT	oj.Id,
				oj.TenantId,
				oj.ScreenName,
				oj.Specification,
				oj.Country,
				oj.City,
				oj.PlacementType,
				oj.Placement,
				oj.AvgViewer,
				oj.BasePrice,
				oj.[Status],
				oj.[Type],
				oj.UserId
		FROM OPENJSON(@Json)
		WITH
		(
			Id INT,
			TenantId INT,
			ScreenName NVARCHAR(20),
			Specification NVARCHAR(500),
			Country NVARCHAR(15),
			City NVARCHAR(15),
			PlacementType INT,
			Placement NVARCHAR(25),
			AvgViewer INT,
			BasePrice DECIMAL(10,2),
			[Status] INT,
			[Type] INT,
			UserId INT
		) AS oj;

		INSERT INTO Screen
		( 
			tenantId, 
			screenName, 
			specification, 
			country,
			city,
			placementType,
			placement,
			avgViewer,
			basePrice,
			[status],
			[type],
			createdBy
		)
		OUTPUT Inserted.id INTO #Inserted ( Id ) 
		SELECT	s.tenantId,
				s.screenName,
				s.specification,
				s.country,
				s.city,
				s.placementType,
				s.placement,
				s.avgViewer,
				s.basePrice,
				s.[status],
				s.[type],
				s.UserId
		FROM #Screen AS s
		WHERE s.id = 0;
		
		UPDATE s
		SET
			s.screenName = ts.screenName,
			s.specification = ts.specification,
			s.country = ts.country,
			s.city = ts.city,
			s.placementType = ts.placementType,
			s.placement = ts.placementType,
			s.avgViewer = ts.avgViewer,
			s.basePrice = ts.basePrice,
			s.[status] = ts.[status],
			s.[type] = ts.[type],
			s.updatedBy = ts.UserId,
			s.updatedAt = GETUTCDATE()
		FROM inv.Screen AS s
		INNER JOIN #Screen AS ts ON s.id = ts.id;

		SELECT @Json = ISNULL(
		(
			SELECT  s.Id,
					s.TenantId,
					s.ScreenName,
					s.Specification,
					s.Country,
					s.City,
					s.PlacementType,
					s.Placement,
					s.AvgViewer,
					s.BasePrice,
					s.[Status],
					s.[Type],
					s.CreatedBy,
					s.CreatedAt
			FROM inv.Screen AS s
			WHERE EXISTS
			(
				SELECT 1
				FROM #Screen ts
				WHERE ts.Id = s.Id
			)
			OR EXISTS
			(
				SELECT 1
				FROM #Inserted i
				WHERE i.Id = s.Id
			)
			FOR JSON PATH, INCLUDE_NULL_VALUES
		), 
		'[]');

		ROLLBACK TRANSACTION

		DROP TABLE IF EXISTS #Inserted;
		DROP TABLE IF EXISTS #Screen;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
			
		THROW;
	END CATCH
END;
