
/*

=====================================================================
- Description: Soft delete screen using id
- Author: Gyanju Rai
- Created: 2026-03-03
=====================================================================

---------------------------------------------------------------------
- Modified
- At: 2026-03-13
- By: Gyanju Rai
- Description: nested delete screenplayer record related to the 
				Deleting screen
---------------------------------------------------------------------

DECLARE @Json NVARCHAR(MAX) = N'{
									"Id": 0,
									"UpdatedBy": 0,
									"ScreenPlayerId": {
														"Id": 0
													}
								}';

EXEC [inv].[SpScreenDel] @Json = @Json OUTPUT;

SELECT @Json;

*/

ALTER   PROCEDURE [inv].[SpScreenDel]
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON;
		
		BEGIN TRANSACTION;

		CREATE TABLE #Screen 
		(
			Id INT NOT NULL,
			UpdatedBy INT NOT NULL,
			ScreenPlayerId NVARCHAR(MAX)
		);

		CREATE TABLE #ScreenPlayer
		(
			Id INT NULL,
			UpdatedBy INT NULL,
			ScreenId INT NULL
		);

		INSERT INTO #Screen
		(
			Id,
			UpdatedBy,
			ScreenPlayerId
		)
		SELECT	oj.id,
				oj.UpdatedBy,
				oj.ScreenPlayerId
		FROM OPENJSON(@Json)
		WITH
		(
			Id INT,
			UpdatedBy INT,
			ScreenPlayerId NVARCHAR(MAX) AS JSON
		) AS oj;

		INSERT INTO #ScreenPlayer
		(
			Id,
			ScreenId,
			UpdatedBy
		)
		SELECT	oj.Id,
				s.Id,
				s.UpdatedBy
		FROM #Screen AS s
		CROSS APPLY OPENJSON(s.ScreenPlayerId)
		WITH
		(
			Id INT
		) oj;


		-- Soft delete screen
		UPDATE s
		SET s.isDeleted = 1,
			s.updatedAt = GETUTCDATE()
		FROM inv.Screen AS s
		INNER JOIN #Screen AS ts ON s.id = ts.id;



		UPDATE sp
		SET sp.isDeleted = 1,
			sp.unAssignedAt = GETUTCDATE(),
			sp.updatedAt = GETUTCDATE(),
			sp.updatedBy = tsp.UpdatedBy
		FROM inv.ScreenPlayer AS sp
		INNER JOIN #ScreenPlayer tsp ON sp.id = tsp.Id AND sp.screenId = tsp.ScreenId;
			
		SELECT @Json = ISNULL(
				(
					SELECT	s.Id,
											s.TenantId,
											s.ScreenName,
											s.Specification,
											s.Country,
											s.City,
											s.PlacementType,
											s.Placement,
											s.AvgViewer,
											s.BasePrice,
											s.[Status],
											s.[Type],
											s.IsDeleted,
											s.CreatedBy,
											s.CreatedAt,
											s.UpdatedBy,
											s.UpdatedAt,
											sp.Id AS [ScreenPlayer]
									FROM #Screen AS ts
									INNER JOIN inv.Screen AS s ON ts.Id = s.id
									LEFT JOIN #ScreenPlayer AS tsp ON ts.Id = tsp.ScreenId
									LEFT JOIN inv.ScreenPlayer AS sp ON tsp.Id = sp.id
									FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
				),'{}');

		COMMIT TRANSACTION;

		DROP TABLE IF EXISTS #Screen;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		THROW;
	END CATCH;
END;
