
/*

=====================================================================
- Description: Bulk insert in Screen
- Author: Gyanju Rai
- Created: 2026-03-03
=====================================================================

---------------------------------------------------------------------
- Modified
- At: 2026-03-11
- By: Gyanju Rai
- Description: Implemented Nested [inv].[SpScreenPlayerIns]
---------------------------------------------------------------------

DECLARE @Json NVARCHAR(MAX) = N'
								[
								  {
									"TenantId": 5,
									"ScreenName": "BKT-Sp-01",
									"Specification": "Outdoor LED P4, FHD, 6000 nits, 8x14 ft",
									"Country": "Nepal",
									"City": "Bhaktapur",
									"PlacementType": 1,
									"Placement": "Bhaktapur Gym",
									"AvgViewer": 500,
									"BasePrice": 1200.00,
									"Status": 1,
									"Type": 2,
									"CreatedBy": 5,
									"ScreenPlayerInfo":	[
											{
												"PlayerId": 5
											}
										]
								  }
								]';

EXEC [Inv].[SpScreenIns] @Json = @Json OUTPUT;

SELECT @Json;
*/

ALTER   PROCEDURE [inv].[SpScreenIns]
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN

	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRANSACTION;


		CREATE TABLE #Inserted
		(
			Id INT IDENTITY(1,1),
			InsertedId INT 
		);
	
		CREATE TABLE #Screen 
		(
			
			Id INT IDENTITY(1,1),
			ScreenId INT NULL,
			TenantId INT NULL,
			ScreenName NVARCHAR(20) NOT NULL,
			Specification NVARCHAR(500) NOT NULL,
			Country NVARCHAR(15) NOT NULL,
			City NVARCHAR(15) NOT NULL,
			PlacementType INT NOT NULL,
			Placement NVARCHAR(25) NOT NULL,
			AvgViewer INT NOT NULL,
			BasePrice DECIMAL(10,2) NOT NULL,
			[Status] INT NOT NULL ,
			[Type] INT NOT NULL,
			CreatedBy INT NOT NULL,
			ScreenPlayerInfo NVARCHAR(MAX) NULL
		);

		INSERT INTO #Screen
		(
			TenantId, 
			ScreenName, 
			Specification, 
			Country, 
			City, 
			PlacementType, 
			Placement, 
			AvgViewer, 
			BasePrice, 
			[Status], 
			[Type], 
			CreatedBy,
			ScreenPlayerInfo
		)
		SELECT	oj.TenantId,
				oj.ScreenName,
				oj.Specification,
				oj.Country,
				oj.City,
				oj.PlacementType,
				oj.Placement,
				oj.AvgViewer,
				oj.BasePrice,
				oj.Status,
				oj.Type,
				oj.CreatedBy,
				oj.ScreenPlayerInfo
		FROM OPENJSON(@Json)
		WITH
		(
			TenantId INT,
			ScreenName NVARCHAR(20),
			Specification NVARCHAR(500),
			Country NVARCHAR(15),
			City NVARCHAR(15),
			PlacementType INT,
			Placement NVARCHAR(25),
			AvgViewer INT,
			BasePrice DECIMAL(10,2),
			Status INT,
			Type INT,
			CreatedBy INT,
			ScreenPlayerInfo NVARCHAR(MAX) AS JSON
		) AS oj;

		INSERT INTO Screen
		( 
			TenantId, 
			ScreenName, 
			Specification, 
			Country,
			City,
			PlacementType,
			Placement,
			AvgViewer,
			BasePrice,
			[Status],
			[Type],
			CreatedBy
		)
		OUTPUT Inserted.id INTO #Inserted ( InsertedId ) 
		SELECT	s.TenantId,
				s.ScreenName,
				s.Specification,
				s.Country,
				s.City,
				s.PlacementType,
				s.Placement,
				s.AvgViewer,
				s.BasePrice,
				s.Status,
				s.Type,
				s.CreatedBy
		FROM #Screen AS s;

		-- Populating #Screen.ScreenId with Inserted.Id Screen
		UPDATE ts
		SET	ts.ScreenId = i.InsertedId
		FROM #Screen AS ts
		INNER JOIN #Inserted AS i ON ts.Id = i.Id;

		-- Building @Json for inv.SpScreenPlayerIns
		DECLARE @ScreenPlayerJson NVARCHAR(MAX) = ISNULL(
			(
				SELECT	s.TenantId,
						s.ScreenId,
						oj.PlayerId,
						s.[Status],
						s.CreatedBy
					FROM #Screen AS s
					CROSS APPLY OPENJSON(s.ScreenPlayerInfo)
					WITH
					(
						PlayerId INT
					) AS oj
					FOR JSON PATH
			)
			, '[]');

		EXEC inv.SpScreenPlayerIns @Json = @ScreenPlayerJson OUTPUT; -- Nested


		--	===============
		--	=== OUTPUT ====
		--	===============
		WITH ScreenPlayerResTable AS (
			SELECT	oj.Id,
					oj.TenantId,
					oj.ScreenId,
					oj.PlayerId,
					oj.AssignedAt,
					oj.[Status],
					oj.CreatedBy,
					oj.CreatedAt
			FROM OPENJSON(@ScreenPlayerJson)
			WITH
			(
				id INT,
				tenantId INT ,
				screenId INT,
				playerId INT,
				assignedAt DATETIME,
				[status] INT,
				createdBy INT,
				createdAt DATETIME
			) AS oj
		)
		SELECT @Json = 
			ISNULL(
			(
				SELECT  s.Id,
						s.ScreenName,
						t.TenantName,
						s.Specification,
						s.Country,
						s.City,
						s.PlacementType,
						s.Placement,
						s.AvgViewer,
						s.BasePrice,
						s.[Type],
						s.[Status],
						s.CreatedBy,
						s.CreatedAt,
						ISNULL(STRING_AGG(p.PlayerCode, ', '), '') AS Players
				FROM inv.Screen AS s
				INNER JOIN #Inserted AS i ON s.Id = i.InsertedId
				INNER JOIN core.Tenant AS t ON s.TenantId = t.Id
				LEFT JOIN ScreenPlayerResTable AS sprt ON i.InsertedId = sprt.ScreenId
				LEFT JOIN inv.Player AS p ON sprt.PlayerId = p.Id
				GROUP BY
						s.Id,
						s.ScreenName,
						t.TenantName,
						s.Specification,
						s.Country,
						s.City,
						s.PlacementType,
						s.Placement,
						s.AvgViewer,
						s.BasePrice,
						s.[Type],
						s.[Status],
						s.CreatedBy,
						s.CreatedAt
				FOR JSON PATH, INCLUDE_NULL_VALUES
			), '[]');

		COMMIT TRANSACTION

		DROP TABLE IF EXISTS #Inserted;
		DROP TABLE IF EXISTS #Screen;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
			
		THROW;
	END CATCH
END;