
/*

=====================================================================
- Description: Bulk update Screen & ScreenPlayer
- Author: Gyanju Rai
- Created: 2026-03-12
=====================================================================

DECLARE @Json NVARCHAR(MAX) = N'
								[
								  {
									"Id": 139,
									"ScreenName": "BKT-Sp-01",
									"Specification": "Outdoor LED P4, FHD, 6000 nits, 8x14 ft",
									"Country": "Nepal",
									"City": "Bhaktapur",
									"PlacementType": 1,
									"Placement": "Bhaktapur Gym",
									"AvgViewer": 500,
									"BasePrice": 1200.00,
									"Status": 1,
									"Type": 2,
									"UpdatedBy": 10,
									"ScreenPlayerInfo":	[
											{
												"Id": 27,
												"Status": 2,
												"UpdatedBy": 10
											}
										]
								  }
								]';

EXEC Inv.SpScreenUpd @Json = @Json OUTPUT;

SELECT @Json;
*/

ALTER     PROCEDURE [inv].[SpScreenUpd]
(
	@Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN

	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRANSACTION;
	
		CREATE TABLE #Screen 
		(
			
			Id INT DEFAULT 0,
			ScreenName NVARCHAR(20) NOT NULL,
			Specification NVARCHAR(500) NOT NULL,
			Country NVARCHAR(15) NOT NULL,
			City NVARCHAR(15) NOT NULL,
			PlacementType INT NOT NULL,
			Placement NVARCHAR(25) NOT NULL,
			AvgViewer INT NOT NULL,
			BasePrice DECIMAL(10,2) NOT NULL,
			[Status] INT NOT NULL ,
			[Type] INT NOT NULL,
			UpdatedBy INT NOT NULL,
			ScreenPlayerInfo NVARCHAR(MAX) NULL
		);

		INSERT INTO #Screen
		(
			Id, 
			ScreenName, 
			Specification, 
			Country, 
			City, 
			PlacementType, 
			Placement, 
			AvgViewer, 
			BasePrice, 
			[Status], 
			[Type], 
			UpdatedBy,
			ScreenPlayerInfo
		)
		SELECT	oj.Id,
				oj.ScreenName,
				oj.Specification,
				oj.Country,
				oj.City,
				oj.PlacementType,
				oj.Placement,
				oj.AvgViewer,
				oj.BasePrice,
				oj.[Status],
				oj.[Type],
				oj.UpdatedBy,
				oj.ScreenPlayerInfo
		FROM OPENJSON(@Json)
		WITH
		(
			Id INT,
			ScreenName NVARCHAR(20),
			Specification NVARCHAR(500),
			Country NVARCHAR(15),
			City NVARCHAR(15),
			PlacementType INT,
			Placement NVARCHAR(25),
			AvgViewer INT,
			BasePrice DECIMAL(10,2),
			[Status] INT,
			[Type] INT,
			UpdatedBy INT,
			ScreenPlayerInfo NVARCHAR(MAX) AS JSON
		) AS oj;

		UPDATE s
		SET	s.screenName = ts.ScreenName,
			s.specification = ts.Specification,
			s.country = ts.Country,
			s.city = ts.City,
			s.placementType = ts.PlacementType,
			s.placement = ts.Placement,
			s.avgViewer = ts.AvgViewer,
			s.basePrice = ts.BasePrice,
			s.[status] = ts.[Status],
			s.[type] = ts.[Type],
			s.updatedBy = ts.UpdatedBy,
			s.updatedAt = GETUTCDATE()
		FROM inv.Screen AS s
		INNER JOIN #Screen AS ts ON s.id = ts.Id;

		-- Building @Json for inv.SpScreenPlayerIns
		DECLARE @ScreenPlayerJson NVARCHAR(MAX) = ISNULL(
			(
				SELECT	oj.Id,
						oj.[Status],
						ts.UpdatedBy
					FROM #Screen AS ts
					INNER JOIN inv.Screen AS s ON ts.Id = s.id 
					CROSS APPLY OPENJSON(ts.ScreenPlayerInfo)
					WITH
					(	
						Id INT,
						[Status] INT
					) AS oj
					FOR JSON PATH
			)
			, '[]');

		EXEC inv.SpScreenPlayerUpd @Json = @ScreenPlayerJson OUTPUT; -- Nested

		--	===============
		--	=== OUTPUT ====
		--	===============
		WITH ScreenPlayerResTable AS (
			SELECT	oj.Id,
					oj.TenantId,
					oj.ScreenId,
					oj.PlayerId,
					oj.AssignedAt,
					oj.[Status],
					oj.CreatedBy,
					oj.CreatedAt
			FROM OPENJSON(@ScreenPlayerJson)
			WITH
			(
				id INT,
				tenantId INT ,
				screenId INT,
				playerId INT,
				assignedAt DATETIME,
				[status] INT,
				createdBy INT,
				createdAt DATETIME
			) AS oj
		)
		SELECT @Json = 
			ISNULL(
			(
				SELECT  s.Id,
						s.ScreenName,
						t.TenantName,
						s.Specification,
						s.Country,
						s.City,
						s.PlacementType,
						s.Placement,
						s.AvgViewer,
						s.BasePrice,
						s.[Type],
						s.[Status],
						s.CreatedBy,
						s.CreatedAt,
						ISNULL(STRING_AGG(p.PlayerCode, ', '), '') AS Players
				FROM inv.Screen AS s
				INNER JOIN #Screen AS ts ON s.Id = ts.Id
				INNER JOIN core.Tenant AS t ON s.TenantId = t.Id
				LEFT JOIN ScreenPlayerResTable AS sprt ON ts.Id = sprt.ScreenId
				LEFT JOIN inv.Player AS p ON sprt.PlayerId = p.Id
				GROUP BY
						s.Id,
						s.ScreenName,
						t.TenantName,
						s.Specification,
						s.Country,
						s.City,
						s.PlacementType,
						s.Placement,
						s.AvgViewer,
						s.BasePrice,
						s.[Type],
						s.[Status],
						s.CreatedBy,
						s.CreatedAt
				FOR JSON PATH, INCLUDE_NULL_VALUES
			), '[]');

		COMMIT TRANSACTION

		DROP TABLE IF EXISTS #Screen;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
			
		THROW;
	END CATCH
END;