@use '../../../shared/scss/variable.scss' as vars;

// ============================================
// TOP BAR
// ============================================

.topbar {
  @include vars.flex-between;
  padding: 18px 28px;
  border-bottom: 1px solid vars.$border;
  background: vars.$white;
  position: sticky;
  top: 0;

  &-left {
    @include vars.flex-center;
    gap: 12px;

    .page-title {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: -0.3px;
    }

    .page-count {
      font-size: 12px;
      color: vars.$text-muted;
      background: vars.$surface;
      border: 1px solid vars.$border;
      padding: 2px 10px;
      border-radius: 20px;
    }
  }

  &-right {
    @include vars.flex-center;
    gap: 10px;
  }
}

// Buttons
.btn {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.15s;

  &--primary {
    background: vars.$primary;
    color: vars.$white;

    &:hover { background: vars.$primary-dark; }
  }

  &--secondary {
    background: vars.$white;
    color: vars.$text-main;
    border: 1px solid vars.$border;

    &:hover { background: vars.$surface; }
  }
}

// ==========================================
// ACTION BTN BAR
// ==========================================

.actionbtn-bar {
  display: flex;
  justify-content: flex-end;
  padding:  14px 28px 10px;

  &-right {
    @include vars.flex-center;
    gap: 8px;
  }
}

.actionbtn-bar-btn {
  @include vars.flex-between();
  gap: 8px;
  padding: 15px 20px;
  border-radius:  8px;
  border: 1px solid vars.$border;
  background: vars.$white;
  transition: all 0.15s;

  .btn-icon {
    font-size: 20px;
    line-height: 1;
  }

  &.btn-add {
    background: vars.$primary;
    color: vars.$white;
    border-color: vars.$primary;

    &:hover { background: vars.$primary-dark; border-color: vars.$primary-dark;}
  }

  &.btn-update {
    background: vars.$pending;
    color: vars.$white;
    border-color: vars.$pending;

    // &:hover {
      
    // }
  }

  &.btn-delete {
    background: vars.$offline;
    color: vars.$white;
    border-color: vars.$offline;

    &:hover {
      background: #b91c1c;
      border: #fca5a5;
    }
  }

  // &.btn-refresh {

  // }
}

