<header class="topbar">
    <div class="topbar-left">
        <h1 class="page-tittle">Screens</h1>
        <span class="page-count">{{ screens.length + ' screens' }}</span>
    </div>
</header>

<section class="actionbtn-bar">

    <div class="actionbtn-bar-right">
        <button class="actionbtn-bar-btn btn-add" title="Add">
            <span class="btn-icon">
                <i class="fa-regular fa-plus"></i>
            </span>
        </button>
        <button class="actionbtn-bar-btn btn-update" title="Update">
            <span class="btn-icon">
                <i class="fa-regular fa-pen"></i>
            </span>
        </button>
        <button class="actionbtn-bar-btn btn-delete custom-tooltip" title="Delete">
            <span class="btn-icon">
                <i class="fa-regular fa-trash"></i>
            </span>
        </button>
        <button class="actionbtn-bar-btn" title="Refresh">
            <span class="btn-icon">
                <i class="fa-solid fa-arrow-rotate-right"></i>
            </span>
        </button>
    </div>


</section>

<GridComponent
    [gridConfig]="gridConfig"
    (clickRow)="selectedRow($event)"
/>